:root {
    --font-family-base: 'Roboto', sans-serif;
    --font-family-accent: 'Larken', sans-serif;

    --color-white: #ffffff;
    --color-light-gray: #abaeb7;
    --color-dark-gray: #424346;
    --color-dark: #161920;
    --color-yellow: #ffc978;

    --button-height: 59px;

    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s
}

body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.65;
    color: var(--color-white);
    background-color: var(--color-dark);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}

.text-uppercase {
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

section+section {
    margin-top: 140px;
}

section h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    font-family: var(--font-family-accent);
    font-weight: 400;
}

.header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 26px 32px;
}

.header-logo {
    font-family: var(--font-family-accent);
    font-size: 50px;
    line-height: 120%;
    text-decoration: none;
    color: var(--color-white)
}

.header-navbar {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    flex: 1;
}

.header-navbar-list {
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.header-navbar-link {
    display: inline-flex;
    align-items: center;
    height: 40px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-light-gray);
    white-space: nowrap;
}

.header-navbar-link:hover {
    color: var(--color-white);
}

.header-burger {
    display: grid;
    width: 27px;
    height: 27px;
    z-index: 5;
}

.burger-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
    border-radius: 14px;
    transition: cubic-bezier(0.23, 1, 0.320, 1) 0.3s;
}

.burger-line:nth-child(2) {
    width: 65%;
    justify-self: flex-end;
}

.header-burger.--open>.burger-line:nth-child(2) {
    display: none;
}

.header-burger.--open>.burger-line:first-child {
    transform: rotate(45deg);
    transform-origin: 15% 20%;
}

.header-burger.--open>.burger-line:last-child {
    transform: rotate(-45deg);
    transform-origin: 15% 20%;
}

.button {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: var(--button-height);
    border: 1px solid var(--color-white);
    font-weight: 500;
    background: transparent;
    color: var(--color-white)
}

.header-navbar-button {
    height: 49px;
}

.main-block {
    position: relative;
    margin-top: -112px;
    display: flex;
    justify-content: space-between;
}

.main-img {
    width: 100%;
    max-width: 50vw;
    z-index: -1;
    display: none;
}

.main-block-text {
    margin-top: 199px;
    padding: 0 32px;
}

.main-block-title {
    margin-top: 30px;
    font-size: 84px;
    font-family: var(--font-family-accent);
    font-weight: 400;
    line-height: 1.1;
}

.main-block-description {
    color: var(--color-light-gray);
    font-size: 20px;
    line-height: 1.65;
    max-width: 534px
}

.text-accent {
    font-family: var(--font-family-accent);
    color: var(--color-yellow);
    font-weight: 500;
    letter-spacing: 0.3em;
}

.main-block-button {
    margin-top: 50px;
}

.bg-text {
    font-weight: 800;
    font-size: 168px;
    line-height: 0.6;
    color: rgba(11, 14, 23, 0.4);
}

.main-block-svg-line {
    top: 440px;
    left: -130px;
    min-width: 1161px;
    height: 97px;
    z-index: -1;
    transform: rotate(35deg);
}

.main-block-text .bg-text {
    margin-top: 170px;
    margin-left: -32px;
    z-index: -1;
}

.specializations-block>h2 {
    margin-top: 13px;
}

.specializations-block>h2,
.specializations-block>.text-accent {
    text-align: center;
}

.specializations-cards {
    margin-top: 52px;
    display: flex;
    column-gap: 30px;
    justify-content: center;
    scroll-snap-type: x mandatory;
}

.specializations-card {
    position: relative;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    scroll-snap-align: center;
}

.specializations-card img {
    position: absolute;
    z-index: -1;
}

.specializations-card-text {
    padding: 40px 30px 30px;
    background: linear-gradient(180deg, rgba(31, 34, 43, 0) 0.42%, #10131c 100%);
}

.specializations-card-header {
    margin-bottom: 10px;
    font-family: var(--font-family-accent);
    font-size: 24px;
}

@media(min-width: 1301px) {

    .specializations-cards .specializations-card:first-child,
    .specializations-cards .specializations-card:last-child {
        margin-top: -110px;
    }
}

@media(min-width: 1200px) {
    .header-navbar {
        margin-left: calc(42vw - 430px);
    }
}

@media(min-width: 781px) {
    .header-burger {
        display: none;
    }
}

@media(max-width: 1300px) {
    .specializations-cards {
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-start;
        width: 100%;
        column-gap: 20px;
        overflow: hidden;
        overflow-x: auto;
    }
}

@media(max-width: 780px) {
    section+section {
        margin-top: 50px;
    }

    .header {
        padding: 26px 20px;
    }

    .header-logo {
        font-size: 30px;
        line-height: unset;
    }

    .header-navbar {
        position: absolute;
        flex-direction: column;
        row-gap: 20px;
        padding: 140px 100px 20px;
        margin: 150px 0 0 -20px;
        background-color: var(--color-dark-gray);
        right: 0;
        transform: translateY(-100%);
        border-radius: 0 0 0 14px;
    }

    .header-navbar.--open {
        transform: translateY(0%);
    }

    .header-navbar.--transition {
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .header-navbar-list {
        flex-direction: column;
    }

    .main-img {
        display: none;
    }

    .main-block-text {
        margin-top: 140px;
        padding: 0 20px;
    }

    .main-block-title {
        font-size: 42px;
        line-height: 1.29;
    }

    .main-block-description {
        line-height: 1.55;
    }

    .main-block-text .bg-text {
        position: absolute;
        margin: 0;
        right: -200px;
        top: 260px;
        font-size: 124px;
        line-height: 0.81;
        transform: rotate(-90deg)
    }

    .main-block-button {
        margin-top: 30px;
    }

    .specializations-block>h2,
    .specializations-block>.text-accent {
        text-align: left;
    }
}